<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">
	<select id="selectUser" resultType="com.test.pojo.User">
		select * from user
	</select>
	<update id="updateUser" parameterType="com.test.pojo.User" >
		update user set username=#{username},password=#{password} where id=#{id}
	</update>
	<insert id="addUser" parameterType="com.test.pojo.User">
		insert into user values(default,#{username},#{password});
	</insert>
	<delete id="delectUser" parameterType="com.test.pojo.User">
		delete from user where id=#{id}
	</delete>
</mapper>